{% extends "base.html" %}
{% block title %} NZGD data {% endblock %}

{% block content %}
<section>
    <h1>CPT and SPT data extracted from NZGD borehole records</h1>
    <h4>Using NZGD records that were retrieved on {{ date_of_last_nzgd_retrieval }}</h4>
    <br>
    <b>Available query fields:</b> {{ col_names_to_display }}
    <br>
    <br>

</section>

<!-- Form to allow user input for filtering data -->
<form id="query-form" method="GET" action="{{url_for('views.index')}}">
    <!-- Text input for a custom query, passed as the 'query' parameter in the URL -->
    <input
        id="query-input"
        name="query"
        hx-get="/validate"
        hx-trigger="keyup delay:300ms changed"
        hx-target="#error"
        placeholder="Input your pandas-compatible search query"
        value="{{query or ''}}"
    />
    <div id="error"></div>

    <!-- Dropdown to select a vs30 correlation -->
    <label id="query-label" for="vs30_correlation"
        >Select a vs30 correlation option</label>
    <select id="query-input" name="vs30_correlation">
        <!-- Populate dropdown options dynamically from the list of vs30_correlations -->
        {% for vs30_correlation in vs30_correlations %}
        <option value="{{vs30_correlation}}" {% if selected_vs30_correlation==vs30_correlation %}selected{% endif %}>
            {{vs30_correlation}}
        </option>
        {% endfor %}
    </select>


    <!-- Dropdown to select a spt_vs_correlation -->
    <label id="query-label_spt" for="spt_vs_correlation"
        >Select a SPT-Vs correlation option</label>
    <select id="query-input" name="spt_vs_correlation">
        <!-- Populate dropdown options dynamically from the list of vs30_correlations -->
        {% for spt_vs_correlation in spt_vs_correlations %}
        <option value="{{spt_vs_correlation}}" {% if selected_spt_vs_correlation== spt_vs_correlation %}selected{% endif %}>
            {{spt_vs_correlation}}
        </option>
        {% endfor %}
    </select>

    <!-- Dropdown to select a cpt_vs_correlation -->
    <label id="query-label_spt" for="cpt_vs_correlation"
        >Select a CPT-Vs correlation option</label>
    <select id="query-input" name="cpt_vs_correlation">
        <!-- Populate dropdown options dynamically from the list of vs30_correlations -->
        {% for cpt_vs_correlation in cpt_vs_correlations %}
        <option value="{{cpt_vs_correlation}}" {% if selected_cpt_vs_correlation == cpt_vs_correlation %}selected{% endif %}>
            {{cpt_vs_correlation}}
        </option>
        {% endfor %}
    </select>


    <label for="colour_by">Select a value to colour by</label>
    <select id="query-colour" name="colour_by">
        {% for column, label in colour_variables %}
        <option value="{{column}}" {% if column==colour_by %}selected{% endif %}> {{label}}</option>
        {% endfor %}
    </select>
    <!-- Submit button to trigger a search -->
    <button id="query-button">Search</button>
</form>
<h4> Showing {{ num_records }} records </h4>
<h5> {{ marker_size_description_text }} </h5>
<!-- Section to render the Plotly map -->
<section role="figure">
    {{map | safe}}
    <!-- Render the Plotly map as raw HTML. 'safe' prevents auto-escaping of HTML content -->
    <script>
        console.log(`TEST TEST TEST TEST TEST TEST TEST TEST`);
        var plot_element =
            document.getElementsByClassName("plotly-graph-div")[0];
        plot_element.on("plotly_click", function (data) {
            {
            var point = data.points[0];
                if (point) {
                    if (point.hovertext.startsWith("BH")) {
                        window.open(`{{url_for('views.spt_record', record_name='')}}/${point.hovertext}`, '_blank', 'noopener,noreferrer');
                    }
                    if (point.hovertext.startsWith("CPT") || point.hovertext.startsWith("SCPT")) {
                        window.open(`{{url_for('views.cpt_record', record_name='')}}/${point.hovertext}`, '_blank', 'noopener,noreferrer');
                    }
                }
            }
        });
    </script>
</section>

<h4> {{ hist_description_text }} </h4>

<!-- Section to render the residual histogram -->
<section role="figure">
    {{log_resid_hist | safe}}
    <!-- Render the Plotly map as raw HTML. 'safe' prevents auto-escaping of HTML content -->
</section>

{% endblock %}
