{% extends "base.html" %}

{% block title %}
SPT data for {{ record_name }}
{% endblock %}

{% block content %}
<h1> Overview of {{ record_name }}</h1>

    <h3> Downloads </h3>

    <a href="{{ link_to_pdf }}">Download borehole investigation report for {{ record_name }} (pdf file)</a> <br>
    <a href="{{ link_to_extracted_spt_data }}">Download all extracted SPT data (in one parquet file)</a> <br>
    <a href="{{ nzgd_url }}">View {{ record_name }} on the NZGD (NZGD log in required)</a>

    <h3> SPT data extracted from borehole investigation report for {{ record_name }}</h3>

<table>
    <tr>
        <th>Depth (m)</th>
        <th>Number of blows</th>
        <th>Soil type</th>
        <!-- Add more column headers as needed -->
    </tr>
    {% for row in spt_data %}
    <tr>
        <td>{{ row['Depth (m)'] }}</td>
        <td>{{ row['Number of blows'] }}</td>
        <td>{{ row['soil_types_as_str'] }}</td>
        <!-- Add more columns as needed -->
    </tr>
    {% endfor %}
</table>

    <h3> Plot of SPT data extracted from borehole investigation report for {{ record_name }} </h3>
    {{ spt_plot | safe }}
{% endblock %}


