{% extends "base.html" %}

{% block title %}
{{ record_details[0]["record_name"] }}
{% endblock %}

{% block content %}
<h1> Overview of {{ record_details[0]["record_name"] }} </h1>

    <a href="{{ url_str }}"> Download NZGD source files</a> <br>
    <a href="{{ url_for('views.download_cpt_data', filename=record_name + '_data.csv') }}">Download extracted data</a>

    {{ cpt_plot | safe }}

<h3> Investigation Details </h3>

    <table>
    <tr>
        <th>Maximum depth (m)</th>
        <th>Minimum depth (m)</th>
        <th> Tip net area ratio </th>
        <th> Type </th>
    </tr>
    <tr>
        <td> {{ "%.2f" % record_details[0]["deepest_depth"] }} </td>
        <td>{{ "%.2f" % record_details[0]["shallowest_depth"] }}</td>
        <td>{{ tip_net_area_ratio }}</td>
        <td> {{ type_prefix }}</td>
    </tr>

    <tr>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Investigation date</th>
        <th>Publication date</th>

    </tr>
    <tr>
        <td> {{ record_details[0]["latitude"] }} </td>
        <td>{{ record_details[0]["longitude"] }}</td>
        <td>{{ record_details[0]["investigation_date"] }}</td>
        <td>{{ record_details[0]["published_date"] }}</td>
    </tr>

    <tr>
        <th>Region</th>
        <th>District</th>
        <th>City</th>
        <th>Suburb</th>
    </tr>
    <tr>
        <td> {{ record_details[0]["region"] }} </td>
        <td>{{ record_details[0]["district"] }}</td>
        <td>{{ record_details[0]["city"] }}</td>
        <td>{{ record_details[0]["suburb"] }}</td>
    </tr>

    <tr>
        <th>Measured ground water level (m)</th>
        <th>Model ground water level (m)</th>
        <th>Model Vs30 (m/s)</th>
        <th>Model Vs30 uncertainty (m/s)</th>
    </tr>
    <tr>
        <td> {{ measured_gwl }} </td>
        <td>{{ model_gwl_westerhoff_2019 }}</td>
        <td>{{ model_vs30_foster_2019 }}</td>
        <td>{{ model_vs30_stddev_foster_2019 }}</td>
    </tr>

</table>

<h3> Vs30 estimates </h3>
<h5> {{ vs30_correlation_explanation_text }} </h5>
{% if show_vs30_values %}
<table>
    <tr>
        <th>Estimation number</th>
        <th>Vs30 (m/s)</th>
        <th>Vs30 standard deviation (m/s)</th>
        <th>Vs30 log residual with Foster et al. (2019)</th>
        <th>SPT to Vs correlation</th>
        <th>Vs to Vs30 correlation</th>
    </tr>


    {% for row in record_details %}
    <tr>
        <td>{{ row['estimate_number'] }} </td>
        <td>{{ "%.2f" % row['vs30'] }} </td>
        <td>{{ "%.2f" % row['vs30_stddev'] }}</td>
        <td>{{ "%.2f" % row['vs30_log_residual'] }}</td>
        <td>{{ row['cpt_to_vs_correlation'] }}</td>
        <td>{{ row['vs_to_vs30_correlation'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}


